<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jitc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JITC">
        <activity
            android:name="com.jitcproject.jitc.ViewAllCourseActivity"
            android:exported="true" />
        <activity
            android:name="com.jitcproject.jitc.BerhasilActivity"
            android:exported="true" />
        <activity android:name="com.jitcproject.jitc.UI.DetailCourseActivity" />
        <activity android:name="com.jitcproject.jitc.UI.GetStartedActivity" />
        <activity android:name="com.jitcproject.jitc.UI.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jitcproject.jitc.UI.MainActivity" />
        <activity android:name="com.jitcproject.jitc.Course.OfficeActivity" />
        <activity android:name="com.jitcproject.jitc.Course.DesainGrafisActivity" />
        <activity android:name="com.jitcproject.jitc.Course.WebActivity" />
        <activity android:name="com.jitcproject.jitc.Course.DatabaseActivity" />
        <activity android:name="com.jitcproject.jitc.Course.OsNetworkActivity" />
        <activity android:name="com.jitcproject.jitc.Course.PemogramanActivity" />
        <activity android:name="com.jitcproject.jitc.Course.MultimediaActivity" />
        <activity android:name="com.jitcproject.jitc.Course.ModellingActivity" />
        <activity android:name="com.jitcproject.jitc.Course.RequestActivity" />
    </application>

</manifest>