<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jitc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JITC">
        <activity
            android:name=".BerhasilActivity"
            android:exported="true" />
        <activity android:name=".UI.DetailCourseActivity" />
        <activity android:name=".UI.GetStartedActivity" />
        <activity android:name=".UI.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.MainActivity" />
        <activity android:name=".Course.OfficeActivity" />
        <activity android:name=".Course.DesainGrafisActivity" />
        <activity android:name=".Course.WebActivity" />
        <activity android:name=".Course.DatabaseActivity" />
        <activity android:name=".Course.OsNetworkActivity" />
        <activity android:name=".Course.PemogramanActivity" />
        <activity android:name=".Course.MultimediaActivity" />
        <activity android:name=".Course.ModellingActivity" />
        <activity android:name=".Course.RequestActivity" />
    </application>

</manifest>